{{> header description="This is the description"}}
<main>
    <section class="ec-info">
        <h1>{{fields.title}}</h1>
        <h2>{{fields.subtitle}}</h2>
        <p><a href="mailto:{{fields.email}}">{{fields.email}}</a></p>
    </section>
</main>
{{> footer description="This is the description"}}