{{> header }}
<main>
    <section class="ec-info">
        <h1>{{fields.title}}</h1>
        <h2>{{fields.subtitle}}</h2>
        <div class="ec-info-social">
            {{#each fields.socialMedia.fields.entries}}
                <a href="{{fields.link}}">
                    {{> lookup componentName=(concat 'images/icon-' fields.icon)}}
                </a>
            {{/each}}
        </div>
    </section>
</main>
{{> footer }}