<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 206.55 383.05">
    <defs>
        <style>
            .cls-1 {
                isolation: isolate;
            }

            .cls-2 {
                fill: #e8c0a8;
            }

            .cls-22,
            .cls-3,
            .cls-4,
            .cls-9 {
                opacity: 0.5;
            }

            .cls-3 {
                fill: url(#linear-gradient);
            }

            .cls-4 {
                fill: url(#linear-gradient-2);
            }

            .cls-5 {
                fill: #232323;
                opacity: 0.2;
            }

            .cls-6 {
                fill: #81897e;
            }

            .cls-7 {
                fill: #665b49;
            }

            .cls-8 {
                fill: #f7f7f7;
            }

            .cls-9 {
                fill: #e9e9e9;
            }

            .cls-10 {
                fill: #ededed;
                mix-blend-mode: multiply;
            }

            .cls-11 {
                fill: #d9ae95;
            }

            .cls-12 {
                fill: #e58963;
                opacity: 0.36;
            }

            .cls-13 {
                fill: #160b07;
            }

            .cls-14 {
                fill: #351614;
            }

            .cls-15 {
                fill: #0c0505;
            }

            .cls-16 {
                fill: #23020e;
            }

            .cls-17 {
                fill: #f2f2f2;
            }

            .cls-18 {
                fill: #9b3246;
            }

            .cls-19 {
                fill: #280f0f;
            }

            .cls-20 {
                fill: #7f293d;
            }

            .cls-21 {
                fill: #b25462;
            }

            .cls-22 {
                fill: url(#linear-gradient-3);
            }

            .cls-23 {
                fill: #70422c;
            }

            .cls-24,
            .cls-29 {
                fill: #fff;
            }

            .cls-25 {
                fill: #332016;
            }

            .cls-26 {
                fill: #593019;
            }

            .cls-27 {
                fill: #23100d;
            }

            .cls-28 {
                fill: #f5333f;
            }

            .cls-29 {
                fill-rule: evenodd;
            }
        </style>
        <linearGradient id="linear-gradient" x1="-296.86" y1="-324.16" x2="-291.55" y2="-324.16"
            gradientTransform="matrix(0.71, 1.42, -1.22, 0.61, -1.9, 707.62)" gradientUnits="userSpaceOnUse">
            <stop offset="0" stop-color="#da9c68" />
            <stop offset="1" stop-color="#da9c68" stop-opacity="0" />
        </linearGradient>
        <linearGradient id="linear-gradient-2" x1="-670.38" y1="-295.29" x2="-665.13" y2="-295.29"
            gradientTransform="matrix(-0.84, 1.32, -1.11, -0.71, -682.34, 765.49)" xlink:href="#linear-gradient" />
        <linearGradient id="linear-gradient-3" x1="-269.99" y1="-398.36" x2="-276.41" y2="-394.37"
            gradientTransform="matrix(0.01, 1, -1.34, 0.01, -329.62, 365.21)" gradientUnits="userSpaceOnUse">
            <stop offset="0" stop-color="#a1441c" />
            <stop offset="1" stop-color="#da9c68" stop-opacity="0" />
        </linearGradient>
    </defs>
    <title>esteban</title>
    <g class="cls-1">
        <g id="OBJECTS">
            <path class="cls-2"
                d="M178.81,81c1.6,4.44,1.57,7.87-1.15,9.16s-8.6-.41-10.21-4.86-.71-9.1,2-10.39S177.2,76.57,178.81,81Z"
                transform="translate(-102.65 -27.13)" />
            <path class="cls-2"
                d="M219.87,87.52c-2.88,3.64-5.71,5.25-8.08,3.32S208,82.59,210.89,79s7.14-5,9.51-3.1S222.76,83.88,219.87,87.52Z"
                transform="translate(-102.65 -27.13)" />
            <path class="cls-2"
                d="M173.56,86.66c2.05,15.24,9.52,25.24,22.75,23.94,12-1.19,21.63-8.09,20.6-38.41-.6-17.76-4.42-32-20.51-31.65C174.14,41,169.22,54.55,173.56,86.66Z"
                transform="translate(-102.65 -27.13)" />
            <path class="cls-3"
                d="M187.32,96.48c-2.58,1.38-5.48.79-6.46-1.32s.31-4.93,2.89-6.31,5.48-.78,6.46,1.32S189.9,95.1,187.32,96.48Z"
                transform="translate(-102.65 -27.13)" />
            <path class="cls-4"
                d="M203.4,96c-2.39-1.62-3.39-4.52-2.23-6.47s4-2.2,6.43-.58,3.4,4.51,2.24,6.46S205.8,97.63,203.4,96Z"
                transform="translate(-102.65 -27.13)" />
            <ellipse class="cls-5" cx="103.28" cy="374.61" rx="103.28" ry="8.44" />
            <path class="cls-6"
                d="M162,384.11c-1.15,1.52-13.37,9.7-29.4,11.49-4.51.14-2.12,3.16,4.08,4.13s26.47-1,34.35-2.14,8.94-1.92,8.76-3.64-.35-7.36-.35-7.36Z"
                transform="translate(-102.65 -27.13)" />
            <path class="cls-6"
                d="M231.33,384.05s-.09,9-.09,10.45,1.06,2,3.1,2.68,22.93,4.13,41.87,3.58c3-.21,3.63-2.13.8-3s-22-9-25.32-10.59-5.13-5.37-5.13-5.37Z"
                transform="translate(-102.65 -27.13)" />
            <path class="cls-7" d="M159.58,225.87s.33,145.49,0,159C172.45,389.82,181,387,181,387l10.32-156.16Z"
                transform="translate(-102.65 -27.13)" />
            <path class="cls-7" d="M233.29,225.57S233.29,329.68,249,383c-4.35,3.91-18.76,2.87-18.76,2.87l-29.9-154.34Z"
                transform="translate(-102.65 -27.13)" />
            <path class="cls-7" d="M166.9,249.08c11.51,6.61,47.81,4,62.68-3-.53-6.47,0-17.89,0-17.89l-62.15.83Z"
                transform="translate(-102.65 -27.13)" />
            <path class="cls-8"
                d="M199.19,115.61c-26.08,0-42.95,10.13-44,48.26s-3.33,64.75-3.33,64.75,43,11.52,86.68,0c-1.28-17.08-1.64-53.62-2.31-63.16C234,132.69,225.27,115.61,199.19,115.61Z"
                transform="translate(-102.65 -27.13)" />
            <path class="cls-9"
                d="M218.8,120.52c3.56,10.56,6.06,29.69-3,38.57a81.62,81.62,0,0,0,20.4,6C234.62,142.69,230,127.7,218.8,120.52Z"
                transform="translate(-102.65 -27.13)" />
            <path class="cls-9"
                d="M174.94,120.37c-11.91,6.14-19.07,19.08-19.72,43.5,0,.49,0,1,0,1.48a80.11,80.11,0,0,0,22.68-6.26C168.79,150.17,171.35,130.9,174.94,120.37Z"
                transform="translate(-102.65 -27.13)" />
            <path class="cls-10"
                d="M196.87,163.82l-42,10.13c-.21,6.18-.45,12-.7,17.32,0,0,17.35-1.28,25.3-3.83s15.72-11,15.72-11,3.72,6.77,15.91,9.58c8.88,2,25.87,1.7,25.87,1.7-.2-8-.36-14.13-.56-18.85Z"
                transform="translate(-102.65 -27.13)" />
            <path class="cls-11"
                d="M209.77,157.45c-16.3,1.87-33.9,3.17-43.44,5.48,3.78.86,14,4.72,20.32,9.62,10.6-3.16,21.12-6.4,27.58-7.62a131,131,0,0,1,14.16-.64C224.11,155.28,216.06,156.63,209.77,157.45Z"
                transform="translate(-102.65 -27.13)" />
            <path class="cls-2"
                d="M141.7,151.52c-.12.26-4.43,13.53,8.32,26.31,2.74,2.74,8.35,2.78,13.91-3.28,4-4.35,3.2-10.2,2.51-12.86s-4.13-13.92-4.13-13.92Z"
                transform="translate(-102.65 -27.13)" />
            <path class="cls-2"
                d="M251.34,151.52c.11.26,3.86,12.3-8.32,26.31-2.55,2.92-8.35,2.78-13.92-3.28-4-4.35-1.79-10.21-2.51-12.86-.94-3.49,4.13-13.92,4.13-13.92Z"
                transform="translate(-102.65 -27.13)" />
            <path class="cls-2"
                d="M166.6,162.82c4.28-9,10.38-6.19,16.67-5.37,17.08,1.07,29.11,1.37,44,5.63,5.26,1.49,16.25,14,11.6,16.82-26.21,9.55-46.54-3.81-59.19-10C176.06,169,171.62,162.69,166.6,162.82Z"
                transform="translate(-102.65 -27.13)" />
            <path class="cls-2"
                d="M195.33,123.64c-5.05,0-12.71-1.14-12.71-6.19V103.74H208v13.71C208,122.5,200.37,123.64,195.33,123.64Z"
                transform="translate(-102.65 -27.13)" />
            <path class="cls-12" d="M182.62,113.32v-8.76H208v9.57C197.37,115.47,189.35,115.29,182.62,113.32Z"
                transform="translate(-102.65 -27.13)" />
            <path class="cls-2"
                d="M165.72,163.08c-5.3,1.35-16.25,14-11.61,16.82,5.47,2.45,23.75,6.45,35.71-5.23-6.32-4.9-19.43-13-23.49-11.74Z"
                transform="translate(-102.65 -27.13)" />
            <path class="cls-8"
                d="M220.32,121.75c26.39,3.5,37.95,22.38,31.92,41.26-13.31,0-26.59-4.81-26.59-4.81S232.88,130.48,220.32,121.75Z"
                transform="translate(-102.65 -27.13)" />
            <path class="cls-8"
                d="M172.7,121.75c-26.39,3.5-37.95,22.38-31.92,41.26,13.31,0,26.59-4.81,26.59-4.81S160.14,130.48,172.7,121.75Z"
                transform="translate(-102.65 -27.13)" />
            <path class="cls-13"
                d="M179.21,49.41c-2.15.79-1.8,4.7-2.93,7a14,14,0,0,0-1,4.54c-.81,7.11-2.46,14.23-3.27,21.34-.21-2.86-.93-5.53-3.12-6.74l.5-4.91-.11-2.6a72.34,72.34,0,0,1,0-7.93.68.68,0,0,0-.64-.39l.78-.82a7.89,7.89,0,0,1,.82-5.33,2,2,0,0,0,.34-.88c0-1.1-1.73-1.06-1.95-2.14a5,5,0,0,0,4.06-3c.24-.49.41-1,.65-1.52a13.41,13.41,0,0,1,1.07-1.75c1.37-2,4.63-2,5.78-4.13,0,.57.07-1,.1-.42.83-2.12,2.48-1.63,4.38-2.24l0,1.28a8.47,8.47,0,0,1,5.5-3.65,4.67,4.67,0,0,0-.32-1.93,5.34,5.34,0,0,0,2.41.49,4,4,0,0,1-.44-3.48,10.54,10.54,0,0,1,1.67-3.1,7.45,7.45,0,0,0,4.22,5l-.59-1.23c4.08,5.62,10.16,3.79,13.28,10.21,0-.31,2.09-.63,2.13-.94-.08.85-1.4,1.54-.72,1.82a7.56,7.56,0,0,1,2,.86,2.85,2.85,0,0,1,.48,3.44l4.21-.65a8.85,8.85,0,0,0-3.72,2.08,2.18,2.18,0,0,1,2,.8l-.95.06a16.93,16.93,0,0,1,3.29,1.78,2.18,2.18,0,0,1-1.4,1.09c1.1.43,1.72,1.83,2,3.17s.23,2.75.58,4.06c.12.42.45.92.78.71-.25,5.63-1.1,10.85-.63,16.45-1.86.44-2.65,3.8-3.34,5.88-.26-7.82-.49-16.17-2.23-23.73a15.4,15.4,0,0,0-1.57-4.5c-.8-1.33-2.1-5.23-3.48-5.21-1.55,0-2.33.43-3.89.42.05-.3-1.61.41-1.56.1a66.3,66.3,0,0,1-11.33.48,27.63,27.63,0,0,0-4,.44c-.48-.09-.58.12-.68-.1s-.36-.24-.58-.24c-2.2.08-2.23-.29-4.43-.21"
                transform="translate(-102.65 -27.13)" />
            <path class="cls-14"
                d="M196.81,41.1c-1.36-.84-.6.19-1.66-1.12l1.58.33a24.86,24.86,0,0,1-2.82-5.62c.7.57.91,1.65,1.4,2.47a5.94,5.94,0,0,0,1.42,1.49c.71.57,1.43,1.1,2.17,1.6l-.78-1.53c1.28,1.62,3.34-.09,4.74,1.4a11.67,11.67,0,0,1-5.29-1.35c.7.56-.78,1.44-.58,2.41"
                transform="translate(-102.65 -27.13)" />
            <path class="cls-14"
                d="M204,46.05a17.36,17.36,0,0,1-3.12.91l1.91.1c-1.69.57-3.43-2.29-5.18-2.19a15.37,15.37,0,0,0,5.24-.06,6.59,6.59,0,0,1-1.24.95,5.77,5.77,0,0,0,1.65-.23,5,5,0,0,1-2.67,1.53,12,12,0,0,1-3,.25,7.74,7.74,0,0,0,4.32,0,24.75,24.75,0,0,0,4.13-1.66,8.61,8.61,0,0,0-1.6-.11c.69-.39,1.35,2.33,1.95,1.77l-3.07.13a11.24,11.24,0,0,0,3-1.47l-2.39.38"
                transform="translate(-102.65 -27.13)" />
            <path class="cls-14"
                d="M195.45,47.78a50,50,0,0,0-6.69.51,6,6,0,0,1,3.22-.83,2.62,2.62,0,0,1-1.55-.38l1.77-.27a6.86,6.86,0,0,1-2.52-.76,9.3,9.3,0,0,0-3.1-.66,6.45,6.45,0,0,1,4,0,19.91,19.91,0,0,0,3.93.88,3.77,3.77,0,0,0-1.28.45l2.42,1a.26.26,0,0,1-.25,0"
                transform="translate(-102.65 -27.13)" />
            <path class="cls-14"
                d="M212.29,49.92a11.7,11.7,0,0,1,4,6.07,41.06,41.06,0,0,1,1.38,7.63c.17-.6.35-1.2.52-1.8.17,3,.33,6,.5,9.06.46-4.45.87-9.23-.93-13.17l1.08,1.67A15.16,15.16,0,0,0,217,53.29c-1.1-2-2.9-3.72-4.9-3.58"
                transform="translate(-102.65 -27.13)" />
            <path class="cls-14"
                d="M177,51.82a6.33,6.33,0,0,0-3.85,3.91c-.7,1.91-.65,4.06-.9,6.12a20.57,20.57,0,0,1-.89,3.93c0-1.4.1-2.8.22-4.2a2,2,0,0,1-.65,1.37,72.26,72.26,0,0,1,1.53-8.2c0,.4,0,.8,0,1.19a5.45,5.45,0,0,1,2.79-3.64c.59-.28,1.21-.42,1.81-.65"
                transform="translate(-102.65 -27.13)" />
            <path class="cls-15"
                d="M192.32,106.42c-5.25-.53-10.13-2.06-11.43-3.08-.19,0-5.44-12.31-5.79-12.75l-2-1c.35,4.32,8,19.24,8.25,19.73,1.8,2.88,6.14.67,7.41.92a54.48,54.48,0,0,0,12.66.06c1.4-.3,2.24,3.92,5.93.39,1.21-1.15,9-15.69,9.13-21.52a1.87,1.87,0,0,0-1.39,1.28c-1,2.08-4.66,12.72-6.79,13.64a35.06,35.06,0,0,1-10.09,2.4Z"
                transform="translate(-102.65 -27.13)" />
            <path class="cls-16"
                d="M203.71,98.38c-.29,5.11-3.09,5.18-7.67,5.18s-8.54-2.39-8.54-6c0-1.53,4,.46,8.54.46S203.79,96.86,203.71,98.38Z"
                transform="translate(-102.65 -27.13)" />
            <path class="cls-17"
                d="M202.6,98.51c-.09.81-3.29,1.26-7.21,1s-7-1.17-7-2c.06-2.35,3.28-1.26,7.21-1S202.88,96.06,202.6,98.51Z"
                transform="translate(-102.65 -27.13)" />
            <path class="cls-18"
                d="M204.33,96.69c-.47,4.42-6.84,0-10.92,1.23-3.61,1.09-7.87-2.08-7.66-3.8s5.81-2.43,10-1.86S204.52,95,204.33,96.69Z"
                transform="translate(-102.65 -27.13)" />
            <path class="cls-2"
                d="M205.37,94.14c-.14,4.44-7.67.51-12.14,2-4,1.36-9-1.49-8.93-3.23s6.31-2.86,11-2.59S205.43,92.4,205.37,94.14Z"
                transform="translate(-102.65 -27.13)" />
            <path class="cls-15"
                d="M210.32,96c-.46-2.11-.89-4.07-2.47-5-2.55-1.5-3.83-3.16-5.23-2.4-2.1,1.14-5.36,4.33-8.63,2.81-5.48-2.56-8.61-2.28-9.69-1.3-.64.57-3.4,3.8-4.07,4.68-1.8,2.4.9,9,1.24,11.3a6,6,0,0,0,2.86,3.86c.64.35,7.07,3.31,8.16,3.34l4.08.14A15,15,0,0,0,201,113a28,28,0,0,0,7.59-4.43C210.72,106.71,210.52,96.9,210.32,96ZM198,103.31a25,25,0,0,1-5-.12c-1.06-.14-3.72-.5-5.2-1.74-1.68-1.4-1.72-1.74-1.73-4,0-1.18.75-.62,4.95-1.91a23.81,23.81,0,0,1,4.51-.22s4.27-.12,5.16.7c2.41,2.23,3.33.79,3.07,1.7-.61,2.15-1.19,2.15-2,3.93C201.22,103,198.89,103.15,198,103.31Z"
                transform="translate(-102.65 -27.13)" />
            <path class="cls-19"
                d="M181,100.39c.06,1.73.13,3.47.19,5.2a7,7,0,0,0,1,4c.07-.25.54,0,.67.2a10.87,10.87,0,0,1,1.16,2.89c.18-.45.36-.89.53-1.34a2.44,2.44,0,0,0,2,1.92,3.91,3.91,0,0,0,2.95,2.41.81.81,0,0,1,.26-1c.85,1.31,2.92,1.58,4.69,1.7l4.54.29a10.11,10.11,0,0,1,3.15-2.35l.22.49a11.92,11.92,0,0,0,2.88-3.06c.24.14.47.29.7.44l1.69-1.87a.27.27,0,0,0,.21.4,13,13,0,0,0,1.42-7.48c-2.46,2.59-6.53,3.77-10.48,4.14a13.91,13.91,0,0,1-6.34-.59,27.5,27.5,0,0,1-4.38-2.69c-.89-.55-1.85-1-2.8-1.5l-3.44-1.7c-.31-.16-.85-.24-.93,0"
                transform="translate(-102.65 -27.13)" />
            <path class="cls-18"
                d="M203.6,102.25c-.13,1.92-2.37,6.06-7.82,5.47-6-.64-7.57-4.92-7.44-6.84s5.6,1.35,7.64,1.58C201.09,103,203.73,100.33,203.6,102.25Z"
                transform="translate(-102.65 -27.13)" />
            <path class="cls-20"
                d="M203.61,102.16c-.12,1.72-2.26,3-7.7,2.46-6-.63-7.69-2.09-7.57-3.81s5.61,1.25,7.65,1.48C201.1,102.84,203.73,100.43,203.61,102.16Z"
                transform="translate(-102.65 -27.13)" />
            <path class="cls-21"
                d="M194,102.88c-.36.18-.11.81.07,1.07a2.88,2.88,0,0,0,.75.67,5.59,5.59,0,0,0,2.51.93,9.75,9.75,0,0,0,3.55-.54c.66-.21,1.68-1,1.06-1.34a3.15,3.15,0,0,0-1.57-.43,16.47,16.47,0,0,0-2.94.07C196.45,103,195,102.42,194,102.88Z"
                transform="translate(-102.65 -27.13)" />
            <path class="cls-22" d="M199.4,81.34c2.31,3.72,2.62,7.21-.8,8.75s-7-2-8.57-5.11S197.6,78.44,199.4,81.34Z"
                transform="translate(-102.65 -27.13)" />
            <path class="cls-23"
                d="M198.57,79.76a5.57,5.57,0,0,1,2.76,4.59,5,5,0,0,1-2.86,4.7,7.18,7.18,0,0,1-5.54-.13,15.05,15.05,0,0,1-4.54-3,22.4,22.4,0,0,0,4.77,2.33,7,7,0,0,0,5,0,4.4,4.4,0,0,0,2.54-3.91A5.86,5.86,0,0,0,198.57,79.76Z"
                transform="translate(-102.65 -27.13)" />
            <path class="cls-24"
                d="M182,74s.3-2.55,3.82-3.49c2.21-.59,5.23.47,6.12,1.54,0,0-.45,4.12-4.47,4.77A5.19,5.19,0,0,1,182,74Z"
                transform="translate(-102.65 -27.13)" />
            <ellipse class="cls-25" cx="187.15" cy="73.5" rx="2.26" ry="2.34"
                transform="translate(-112.75 7.42) rotate(-10.27)" />
            <ellipse cx="187.15" cy="73.5" rx="1.2" ry="1.24" transform="translate(-112.75 7.42) rotate(-10.27)" />
            <path class="cls-26"
                d="M182,74a3.47,3.47,0,0,1,1.14-3.07,5.12,5.12,0,0,1,1.42-1,6.14,6.14,0,0,1,1.65-.53,6.3,6.3,0,0,1,3.33.48A4.32,4.32,0,0,1,192,72a10.33,10.33,0,0,0-2.82-.65,10.86,10.86,0,0,0-2.61,0,9,9,0,0,0-2.42.78A5.35,5.35,0,0,0,182,74Z"
                transform="translate(-102.65 -27.13)" />
            <ellipse class="cls-24" cx="185.16" cy="71.85" rx="0.56" ry="0.62"
                transform="translate(6.63 228.26) rotate(-88.75)" />
            <path class="cls-24"
                d="M198.05,72.56s.93-2.38,4.57-2.38c2.28,0,4.94,1.82,5.54,3.09,0,0-1.46,3.86-5.52,3.44A5.27,5.27,0,0,1,198.05,72.56Z"
                transform="translate(-102.65 -27.13)" />
            <ellipse class="cls-25" cx="203.12" cy="73.46" rx="2.26" ry="2.35"
                transform="translate(-107.96 -10.33) rotate(-4.67)" />
            <ellipse cx="203.12" cy="73.46" rx="1.2" ry="1.24" transform="translate(-107.96 -10.33) rotate(-4.67)" />
            <path class="cls-26"
                d="M198.05,72.56a3.47,3.47,0,0,1,1.9-2.68,5,5,0,0,1,1.62-.57,5.89,5.89,0,0,1,1.74-.08,6.35,6.35,0,0,1,3.09,1.33,4.43,4.43,0,0,1,1.76,2.71,10.26,10.26,0,0,0-2.57-1.35,10.62,10.62,0,0,0-2.52-.7,8.41,8.41,0,0,0-2.54.12A5.28,5.28,0,0,0,198.05,72.56Z"
                transform="translate(-102.65 -27.13)" />
            <ellipse class="cls-24" cx="201.61" cy="71.35" rx="0.56" ry="0.63"
                transform="translate(-34.49 211.33) rotate(-70.88)" />
            <path class="cls-27" d="M190.37,65.1c-10.26-1.58-16.55,1.31-10.11,2.73S197.13,66.15,190.37,65.1Z"
                transform="translate(-102.65 -27.13)" />
            <path class="cls-27" d="M199.6,65.1c10.23-1,16.54,2,10.12,3S192.86,65.79,199.6,65.1Z"
                transform="translate(-102.65 -27.13)" />
            <rect class="cls-28" x="103.41" y="120.64" width="4.21" height="4.21" />
            <polyline class="cls-29"
                points="104.2 121.22 104.95 121.22 104.95 122.24 105.22 122.24 105.22 122.5 104.07 122.5 104.07 122.24 104.69 122.24 104.69 121.48 104.2 121.48 104.2 121.22" />
            <path class="cls-29" d="M208.58,148.61v-.27h.88v.27Zm-.13,1v-.26h1.14v.26Z"
                transform="translate(-102.65 -27.13)" />
            <path class="cls-29" d="M208.44,151.4v-1.28h1.16v1.28Zm.27-.26v-.76h.62v.76Z"
                transform="translate(-102.65 -27.13)" />
            <path class="cls-29" d="M206.58,151.4h1l.26-1.28h-1l-.16.75H207l.1-.48h.49l-.16.74h-.75l-.06.27"
                transform="translate(-102.65 -27.13)" />
            <rect class="cls-28" x="107.96" y="120.64" width="4.21" height="4.21" />
            <path class="cls-29"
                d="M211.14,148.35h.27v.89a.18.18,0,0,0,.17.17.18.18,0,0,0,.18-.17v-.89H212v.89a.44.44,0,0,1-.44.44h0a.44.44,0,0,1-.44-.44v-.89"
                transform="translate(-102.65 -27.13)" />
            <polyline class="cls-29"
                points="110 122.55 109.73 122.55 109.73 121.22 110 121.22 110.35 121.97 110.35 121.22 110.62 121.22 110.62 122.55 110.35 122.55 110 121.8 110 122.55" />
            <rect class="cls-24" x="111.06" y="121.21" width="0.27" height="1.33" />
            <path class="cls-29"
                d="M213.84,150.07a.45.45,0,0,1,.45.45V151a.45.45,0,0,1-.45.45.46.46,0,0,1-.45-.45v-.44a.45.45,0,0,1,.45-.45m0,.27a.18.18,0,0,1,.18.18V151a.18.18,0,0,1-.36,0v-.44A.18.18,0,0,1,213.84,150.34Z"
                transform="translate(-102.65 -27.13)" />
            <path class="cls-29"
                d="M211.58,150.07a.45.45,0,0,1,.45.45V151a.44.44,0,0,1-.13.31l.13.4h-.27l-.09-.27h-.09a.45.45,0,0,1-.44-.45v-.44a.45.45,0,0,1,.44-.45m0,.27h0a.18.18,0,0,1,.18.18V151a.18.18,0,0,1-.18.17.18.18,0,0,1-.17-.17v-.44A.18.18,0,0,1,211.58,150.34Z"
                transform="translate(-102.65 -27.13)" />
            <path class="cls-29" d="M212.38,150.07h.26v1.07h.62v.26h-.88v-1.33" transform="translate(-102.65 -27.13)" />
        </g>
    </g>
</svg>