<div class="ec-switch">
    <input type="checkbox" id="mode" value="dark">
    <label for="mode">
        <div class="ec-switch-box">
            {{> images/icon-moon }}
            {{> images/icon-sun }}
            <div class="ec-switch-box-interior"></div>
        </div>
    </label>
</div>